
*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
    font-weight: 550;
}

.container
{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.calculator {
    background-color: #353535;
    padding: 20px;
    border-radius: 10px;
   
}


.calculator form input
{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius:10px ;
    background-color: #de8b0f;
    font-size: 20px;
    color: #f4f3f2;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s ease-in-out;
}

.calculator form input:hover
{
    background-color:#0e0800 ;
    

}

 form .display
 {
    display: flex;
    justify-content: center;
    margin: 20px  0;
 }

 form .display input
 {
    text-align: center;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
 }
 

 form input.equal {
    width: 145px !important;
}

form input.operator
{
    color: ;
}
