* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', Helvetica, sans-serif;
}

body {
  
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 90%;
    width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.base h4 {
    font-size: 28px;
    color: #5F259F;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 30px;
}

.block {
    margin: 10px 0;
}

.title {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: 	#5F259F;
    outline: none;
}

.submit-button {
    display: flex;
    justify-content: center;
}

button {
    width: 45%;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
    background-color: 	#5F259F;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: 	#26004f;
}

#age {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
